/* style the basic web page here */

body {
    background-color: #dfdfdf;
    width: 100%;
    font-family: Arial;
}

h1, h2, h3, h4, h5 {
    color: #444;
    font-family: Helvetica;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #444;
}

p {
    line-height: 1.6;
}

article {
    background-color: #fefefe;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
}

footer {
       padding: 20px;
}


.graph {
    padding: 10px;
}

/* end */
